version: '3.7'
services:
  postgres:
    image: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: x900l
      POSTGRES_PASSWORD: 159192
      POSTGRES_DB: endct_db
    volumes:
      - postgres_data:/bitnami/postgresql

  

volumes:
  postgres_data:
